:root {
    --bg-color: #f0f0f0;
    --text-color: #242424;
    --accent-color: #242424;
    --card-bg-color: #525252;
    --hover-color: #717171;
    --button-bg-color: #525252;
    --button-text-color: #ffffff;
    --button-hover-bg-color: #717171;
}

body {
    font-family: 'Georgia', Arial;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.photo {
    width: 750px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.intro {
    flex-grow: 1;
    font-size: 1.05em;
}

h1 {
    font-size: 3em;
    margin: 0 0 0 0;
    letter-spacing: 1px;
}

h2 {
    margin: 0 0 20 0;
    letter-spacing: 1px;
    color: var(--accent-color);
}

ul {
    padding-left: 40px;
    padding-top: 0px;
    margin-top: 0;
}

.tagline {
    font-size: 1.5em;
    color: var(--accent-color);
    margin-bottom: 20px;
    font-weight: 300;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 15px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.05em;
    text-align: center;
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    margin-right: 12px;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    transform: scale(1.06);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.section-title {
    margin-bottom: 0px;
    color: var(--accent-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 60px;
}

.grid-item {
    background-color: var(--card-bg-color);
    padding: 30px;
    text-align: center;
    --text-color: #ffffff;
    font-size: 1.2em;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 300px;
}

.grid-item:hover {
    background-color: var(--hover-color);
    transform: scale(1.06);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.grid-item i {
    font-size: 2.75em;
    margin-bottom: 15px;
    color: var(--accent-color);
}

.grid-item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section {
    font-size: 1.05em;
}

.section h2 {
    margin: 0 0 0 0;
    letter-spacing: 1px;
    color: var(--accent-color);
}

.experience {
    margin-bottom: 60px;
}

.experience-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.experience-photo {
    width: 500px; /* Adjust width as necessary */
    margin-right: 20px;
}

.experience-logo {
    width: 100%;
    height: auto;
}

.experience-details {
    flex-grow: 1;
}

.experience-details h2 {
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    color: var(--accent-color);
}

.experience-details p {
    margin: 0 0 10px 0;
    color: var(--text-color);
}

.experience-details ul {
    padding-left: 20px;
    margin-top: 0;
}
